@import '../../styles/variables.scss';

.item-wrapper {
  display: flex;
  flex-direction: column;

  &__toggle {
    color: $button-base;
    text-decoration: underline;
  }
}

.open {
  height: 25rem;
}

.close {
  height: auto;
}
