// colours
$background-darker: #020d28;
$background-lighter: #1d4585;
$text-default: #fff;
$text-base: #92abd0;
$button-base: #fd117a;
$button-background: #35598d;

// fonts
$font-family: Arial;
$font-small: 12px;
$font-medium: 24px;
$font-big: 36px;

// breakpoints
