@import '../../styles/variables.scss';

.item-info {
  background-color: $background-dark;
  color: $text-default;
  font-family: $font-typeface;
  font-weight: bold;
  line-height: 2.6em;

  &__photo {
    align-self: center;
    max-width: 25rem;
    width: 90%;
    z-index: 1;
  }

  &__header {
    background-color: $background-light; // repetition
    font-size: $font-big;
    margin-top: -3rem;
    padding: 4rem 2rem 0.1rem 2rem;
  }

  &__description {
    background-color: $background-light; // repetition
    color: $text-base;
    font-size: $font-medium;
    padding: 0 0 0.5rem 2rem;
  }
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .item-info {
    text-align: center;
  }
}

@media (min-width: $tablet) {
  .item-info {
    &__header {
      padding-top: 5rem;
    }
    &__description {
      padding-bottom: 2rem;
    }
  }
}

@media (min-width: $desktop) {
  .item-info {
    &__header {
      font-size: $font-big * 1.25; // TEMP FIX
      line-height: 3.5rem;
    }
    &__description {
      font-size: $font-medium * 1.5; // TEMP FIX
    }
  }
}
