@import '../../styles/variables.scss';

.item-info {
  background-color: $background-dark;
  color: $text-default;
  font-family: $font-base;
  font-weight: bold;
  line-height: 2.6em;

  &__photo {
    align-self: center;
    width: 90%;
    z-index: 1;
  }

  &__header {
    background-color: $background-light; // repetition
    font-size: $font-big;
    margin-top: -3rem;
    padding: 4rem 2rem 0.1rem 2rem;
  }

  &__description {
    background-color: $background-light; // repetition
    color: $text-base;
    font-size: $font-medium;
    padding: 0 0 0.5rem 2rem;
  }
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .item-info {
    //border: 2px solid orange;

    &__photo {
      width: 75%;
    }
    &__header {
      padding: 5rem 0 0 6rem;
    }
    &__description {
      padding: 0.5rem 0 2rem 6rem;
    }
  }
}

@media (min-width: $tablet) {
  .item-info {
    //border: 2px solid red;

    &__photo {
      max-width: 60%;
    }

    &__header,
    &__description {
      text-align: center;
    }
    &__description {
      font-size: $font-big * 0.75;
    }
  }
}

@media (min-width: $desktop) {
  .item-info {
    //border: 2px solid green;
    &__header,
    &__description {
      font-size: $font-big;
    }
  }
}
