@import '../../styles/variables.scss';

.item-info {
  background-color: $background-dark;
  color: $text-default;
  font-family: $font-base;
  font-weight: bold;
  line-height: 2.6em;

  &__photo {
    align-self: center;
    width: 90%;
    z-index: 1;
  }

  &__header {
    background-color: $background-light; // repetition
    font-size: $font-big;
    margin-top: -3rem;
    padding: 4rem 0 0.1rem 2rem;
  }

  &__description {
    background-color: $background-light; // repetition
    color: $text-base;
    font-size: $font-medium;
    padding: 0 0 0.5rem 2rem;
  }
}
