@import '../../styles/variables.scss';

.item-description {
  background-color: $background-light;
  color: $text-default;
  font-family: $font-typeface;
  padding: 2rem;

  &__header {
    font-size: $font-larger-medium;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__description {
    color: $text-base;
    font-size: $font-medium;
    line-height: 1.65rem;
    margin-bottom: 1rem;
  }

  &__toggle {
    color: $button-base;
  }
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .item-description {
    padding: 2rem 5rem;

    &__header {
      font-size: $font-big;
    }
  }
}

@media (min-width: $tablet) {
  .item-description {
    text-align: center;
    font-size: $font-larger-medium * 0.75;
  }
}

@media (min-width: $desktop) {
  .item-description {
    &__description {
      font-size: $font-larger-medium;
      line-height: 2rem;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
  }
}
