@import '../../styles/variables.scss';

.header {
  background-color: $background-dark;
  border-top: 0.1rem solid $button-base;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0 0 0.2rem;

  &__logo {
    max-width: 20rem;
    width: 65%;
  }

  &__hamburger {
    align-self: center;
    height: 2rem;
    padding-right: 1rem;
  }
}

//---------------- MEDIA QUERIES -------------------

// no need for below
// @media (min-width: $mobile-landscape) {}

@media (min-width: $tablet) {
  .header {
    &__hamburger {
      visibility: hidden;
    }

    &__logo {
      margin: 0 auto;
      padding: 1rem 0;
    }
  }
}

// no need for below
// @media (min-width: $desktop) {}
