@import '../../styles/variables.scss';

.item-wrapper {
  display: flex;
  flex-direction: column;

  &__toggle {
    color: $button-base;
    text-decoration: underline;
  }
}

.open {
  height: 17rem;

  item-wrapper__toggle {
    position: relative;
    bottom: 0;
  }
}

.close {
  height: auto;
}
