@import '../../styles/variables.scss';

.footer {
  background-color: $background-light;
  color: $text-base;
  font-family: $font-base;
  font-size: $font-small;
  line-height: 1.2rem;
  padding: 1rem 0.85rem;
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .footer {
    padding: 1rem 3rem;
  }
}

@media (min-width: $tablet) {
  .footer {
    font-size: $font-medium;
    line-height: 1.8rem;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 1.5rem 8rem;
  }
}
