@import '../../styles/variables.scss';

.item-performance {
  background-color: $background-dark;
  color: $text-default;
  padding-left: 2rem;
  padding-bottom: 1rem;

  &__header {
    font-family: $font-typeface;
    font-size: $font-larger-medium;
    padding: 2rem 0;
  }

  &__graph {
    display: flex;
    max-width: 18rem;
    margin-bottom: 2rem;
  }
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .item-performance {
    font-weight: bold;
    padding: 2rem 5rem;

    &__graph {
      width: 80%;
    }
  }
}

@media (min-width: $tablet) {
  .item-performance {
    &__header {
      font-size: $font-big;
      text-align: center;
    }

    &__graph {
      margin: 0 auto;
      max-width: 28rem;
      width: 600px;
    }
  }
}
