@import '../../styles/variables.scss';

.item-performance {
  background-color: $background-dark;
  color: $text-default;
  padding-left: 2rem;

  &__header {
    padding: 2rem 0;
    font-family: $font-base;
    font-size: $font-larger-medium;
  }

  &__graph {
    width: 80%;
    margin-bottom: 2rem;
  }
}
