@import '../../styles/variables.scss';

.item-performance {
  background-color: $background-dark;
  color: $text-default;
  padding-left: 2rem;

  &__header {
    padding: 2rem 0;
    font-family: $font-typeface;
    font-size: $font-larger-medium;
  }

  &__graph {
    max-width: 28.125rem;
    margin-bottom: 2rem;
  }
}

//---------------- MEDIA QUERIES -------------------

@media (min-width: $mobile-landscape) {
  .item-performance {
    padding: 2rem 5rem;
    font-weight: bold;

    &__graph {
      width: 80%;
    }
  }
}

@media (min-width: $tablet) {
  .item-performance {
    &__header {
      text-align: center;
      font-size: $font-big;
    }

    &__graph {
      width: 600px;
      align-self: center;
    }
  }
}
