@import '../../styles/variables.scss';

// refactor BEM classes names here and in markup, simplify as well

.item-price {
  background-color: $background-dark;
  font-family: $font-base;
  font-size: $font-big;
  font-weight: bold;
  color: #fff;

  &__value {
    display: flex;
    font-size: $font-big * 1.1;
  }

  .pence-value {
    font-size: $font-medium * 1.3;
    //align-self: baseline;
  }

  &__counter {
  }

  &__add-button {
    font-family: $font-base;
    font-size: $font-small * 2.3;
    font-weight: bold;
    background-color: $button-base;
    color: #fff;
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 3rem;
  }

  // quick fix, to be refactored
  .foo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: flex-end;
  }

  .counter__label {
    font-size: $font-big/2;
    color: $button-background;
    text-align: center;
  }

  .counter {
    display: flex;
    padding-top: 0.5rem;
    //border: 1px solid orange;
    width: 6rem;
    justify-content: space-around;

    &__sign {
      font-size: $font-small * 2.5;
      background-color: $button-background;
      width: 2.2rem;
      height: 2rem;
      text-align: center;
      border-radius: 0.5rem;
    }

    &__number {
      padding: 0 0.7rem;
      font-size: $font-medium * 1.5;
    }
  }

  .button-wrapper {
    align-self: center;
  }
}

// quick fix, to be refactored
.set-wrapper {
  text-align: center;
  width: 80%;
  align-self: center;
}
